* text=auto eol=lf

*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.sol text eol=lf
*.py text eol=lf
*.java text eol=lf
*.sh text eol=lf

*.png binary
*.jpg binary
*.pdf binary
